.App {
	text-align: center;
	display: flex;
	flex-flow: column;
	height: 100%;
}

#root {
	height: 100%;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.leaflet-container {
	width: 100%;
}

.marker-cluster-custom {
	background: #b1dffb;
	border: 3px solid #186fd6;
	border-radius: 50%;
	color: #020202;
	height: 40px;
	line-height: 37px;
	text-align: center;
	width: 40px;
	font-size: large;
	font-weight: bold;
}

.container-offline {
	-moz-filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	filter: gray; /* IE6-9 */
	filter: grayscale(100%);
}
